body{
	background-image: linear-gradient(to left, #6a11cb 0%, #2575fc 100%);
	font-family: 'Quicksand', sans-serif;
	color: #ffffff;
	font-size: 20px;
}


h2 {
    color: #fee140;
    letter-spacing: 3px;
    text-shadow: 3px 3px #6a11cb;
    font-size: 60px;
    margin-top: 270px;
}